@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
/* Optional: Basic global styles or font settings */
body {
  font-family: 'Inter', sans-serif; /* Example font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown-body {
  /* apply the GitHub dark theme */
  background: none !important;
}

.cm-editor {
  height: '100%';
  background-color: #1d1d1d  !important;
}
.cm-scroller {
  height: '100%' !important;
}